@charset "ISO-8859-1";

html,body {
	background-color: #0f0f0f;
	color: darkgray;
}

table[border], :enabled, .vocontainer thead {
	background-color: #151515;
	color: inherit;
}

table[border] table[border],
.vocontainer table[border] table[border] thead {
	background-color: #121212;
}

table[border] table[border] table[border],
.vocontainer table[border] table[border] table[border] thead {
	background-color: #0f0f0f;
}

a:link {
	color: darkcyan;
}
