@charset "ISO-8859-1";

body {
	background-color: #121213;
	color: darkgray;
}

table[border],
.vocontainer thead {
	background-color: #151515;
	color: inherit;
}

table[border] table[border],
.vocontainer table[border] table[border] thead {
	background-color: #121212;
}

table[border] table[border] table[border],
.vocontainer table[border] table[border] table[border] thead {
	background-color: #0f0f0f;
}

a:link {
	color: #FFFFF0;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: #FFFFF0;
}

.accordion {
	color: #8a8f98;
}

.SideBarContainer {
	border-right: 1px solid #2e2e32;
	background-color: #141416;
	color: #8a8f98;
}

.SideBarNavLinks:visited {
	color: #8a8f98;
}



.IconTextHContainer:hover {
	color: orange;
}



.SideBarBottomArea {
	border-top: 1px solid #2e2e32;
}

footer {
	color: #8a8f98;
}

/* For DARK theme */
:root {
	--SideBar-text-Clicked-color-Dark: #fff;
	/* Define the text color for DARK theme */
}

/* Additional styles for DARK theme */
.active-link {
	color: var(--SideBar-text-Clicked-color-Dark) !important;
}