@charset "ISO-8859-1";

[hidden] { display: none !important; }


@font-face {
	font-family: 'TITANONE';
	src: url('/fonts/TitanOne-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.text-stroke {
	-webkit-text-stroke: 0.5px black;
	/* Stroke color and width */
	text-stroke: 0.5px black;
	/* Stroke color and width */
}

.titanOne-Font {
	font-family: "TITANONE", sans-serif;
}

.NavTextShadow{
	text-shadow: 6px 6px 6px rgb(129, 220, 239)
}

.topcloud {
	 width: 100vw; /* Set the width to 100% of the viewport width */
  height: auto; /* Allow the height to adjust proportionally */
  max-height: none !important; /* Remove any max-height restrictions */
  min-height: 200px !important; /* Remove any min-height restrictions */
}

 .logo {
    max-width: 100%; /* Adjust the maximum width as needed */
    min-width: 200px; /* Set a minimum width as needed */
    height: auto; /* Maintain aspect ratio */
  }
  
html,
body {
	
	min-height: 100vh;
	margin: 0;
	background-color: rgb(180, 230, 255, 1);
  	overflow-x: auto; /* or overflow-x: scroll; */
  	min-width: 1024px; /* Minimum width to prevent content from becoming too narrow */
}

footer.hcontainer>div {
	display: flex;
	gap: 2.5rem;
}

.hcontainer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
}

.vcontainer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
}

.close {
	display: flex;
	gap: 2.5rem;
	align-items: center;
	justify-content: center;
}

.close.left {
	justify-content: flex-start;
}

.close.right {
	justify-content: flex-end;
}

.cg10 {
	column-gap: 10px;
}

.rg10 {
	row-gap: 10px;
}

.hocontainer {
	overflow-x: auto;
	scrollbar-width: thin;
	scrollbar-gutter: stable;
}

.vocontainer {
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-gutter: stable;
}

.vocontainer thead {
	position: sticky;
	top: 0;
	background-color: white;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.topright {
	position: absolute;
	top: 0px;
	right: 0px;
}