@charset "ISO-8859-1";

[hidden] {
	display: none !important;
}

.custom {
  cursor: url("/src/main/resources/static/images/fallGuyTest2.png"), grab;
}

@font-face {
	font-family: 'TITANONE';
	src: url('/fonts/TitanOne-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.text-stroke {
	-webkit-text-stroke: 0.5px black;
	/* Stroke color and width */
	text-stroke: 0.5px black;
	/* Stroke color and width */
}

.titanOne-Font {
	font-family: "TITANONE", sans-serif;
}

.NavTextShadow {
	text-shadow: 6px 6px 6px rgb(129, 220, 239)
}

.logo {
	max-width: 100%;
	/* Adjust the maximum width as needed */
	min-width: 200px;
	/* Set a minimum width as needed */
	height: auto;
	/* Maintain aspect ratio */
}

.cloud {
	position: absolute;
	z-index: 1;
	background-size: contain;
	opacity: 1;
	pointer-events: none;
}

.falling_fallguy {
	position: absolute;
	z-index: 10;
	background-size: contain;
	opacity: 1;
	background-repeat: no-repeat;
}

html,
body {
	min-height: 100vh;
	margin: 0;
	background-color: rgb(180, 230, 255, 1);

	min-width: 1024px;
}

footer.hcontainer>div {
	display: flex;
	gap: 2.5rem;
}

.hcontainer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
}

.hcontainer2 {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 50%;
	flex-wrap: wrap;
}

.vcontainer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
}

.close {
	display: flex;
	gap: 2.5rem;
	align-items: center;
	justify-content: center;
}

.close.left {
	justify-content: flex-start;
}

.close.right {
	justify-content: flex-end;
}

.cg10 {
	column-gap: 10px;
}

.rg10 {
	row-gap: 10px;
}

.hocontainer {
	overflow-x: auto;
	scrollbar-width: thin;
	scrollbar-gutter: stable;
}

.vocontainer {
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-gutter: stable;
}

.vocontainer thead {
	position: sticky;
	top: 0;
	background-color: white;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.topright {
	position: fixed;
	top: 0px;
	right: 0px;
}

.topleft {
    position: fixed;
    top: 5px;
    left: 5px;
}

.top2ndleft {
    position: fixed;
    top: 45px;
    left: 5px;
}
