@charset "ISO-8859-1";

[hidden] {
	display: none !important;
}

html,
body {
	min-height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	position: relative;
}



footer.hcontainer>div {
	display: flex;
	gap: 2.5rem;
}

.hcontainer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
}

.vcontainer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
}


.LeftSideBarContainer {
	width: 250px;
	min-width: 200px;
	min-height: 100vh;
	background-color: #333;
	position: fixed;
	top: 0;
	left: 0;
}

.content {
	margin-left: 250px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
}

.LeftSideBarVerticalSpacing {
	margin-top: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 1;
}

@media (max-width: 768px) {
	.LeftSideBarContainer {
		width: 200px;
	}

	.content {
		margin-left: 200px;
	}
}

.close {
	display: flex;
	gap: 2.5rem;
	align-items: center;
	justify-content: center;

}

.close.left {
	justify-content: flex-start;
}

.close.right {
	justify-content: flex-end;
}

.cg10 {
	column-gap: 10px;
}

.rg10 {
	row-gap: 10px;
}

.hocontainer {
	overflow-x: auto;
	scrollbar-width: thin;
	scrollbar-gutter: stable;
}

.vocontainer {
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-gutter: stable;
}

.vocontainer thead {

	top: 0;
	background-color: white;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.topright {
	position: absolute;
	top: 0px;
	right: 0px;
}

td>svg {
	display: block;
}

table table {
	width: 100%;
}