@charset "ISO-8859-1";

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    overflow: hidden;
    height: 0;
    transition: height 0.3s;
    justify-content: center;
    display: flex;
    align-items: center;
}


.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    border-bottom: 2px solid white;
}
