<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head>
	<meta charset="ISO-8859-1">
	<th:block th:replace="~{index :: stdHead}" />
	<title>About Us - FallGods</title>
</head>

<body>
	<th:block th:replace="~{index :: NoJavaScriptFrag}" />
	<div class="ContainerForAll IsHidden">
		<th:block th:replace="~{index :: SideBarFragment}" />
		</th:block>
		<div class="MainContentContainer">
			<div
				style="margin-top:100px; display: flex; justify-content: center; align-items: center; flex-direction: column; justify-items: center; flex: 1;">
				<header>
					<h1>ABOUT THE DEVELOPERS</h1>
				</header>

				<div style="margin-top:50px; flex-grow: 1; flex-direction: row; display: flex; padding: 10px;">
					
					<div style="flex-grow: 1; padding: 10px; width: 100%; background-color: black; color: white; border:3px solid white; margin-right: 20px; overflow: auto;">
						<div style="min-height:20%; background-color: white; display: flex; flex-direction: column; ">
							This is some example area for the picture
						</div>
						<div style="background-color: red; display: flex; flex-direction: column; height: max-content;">
							This is some example text that i am writing in this example box
							This is some example text that i am writing in this example box
							This is some example text that i am writing in this example box
							This is some example text that i am writing in this example boxThis is some example text that i am writing in this example box
							This is some example text that i am writing in this example box
							This is some example text that i am writing in this example box
							This is some example text that i am writing in this example box
							This is some example text that i am writing in this example box
							This is some example text that i am writing in this example box
							This is some example text that i am writing in this example box
							This is some example text that i am writing in this example box
										This is some example text that i am writing in this example box
							This is some example text that i am writing in this example box
							This is some example text that i am writing in this example box
							This is some example text that i am writing in this example box
							This is some example text that i am writing in this example box
							This is some example text that i am writing in this example box
							This is some example text that i am writing in this example box
						</div>
					</div>
					
					
					<div
						style="height: 75%; width: 100%; background-color: black; color:white; border: 3px solid white; padding: 10px; margin-right: 20px;">
						<div style="background-color: white; display: flex; flex-direction: column; height: 30%;">
							This is some example area for the picture
						</div>
						<div style="background-color: red; display: flex; flex-direction: column;  height: 70%;">
							This is some example text that i am writing in this example box
						</div>
					</div>
					<div
						style="height: 75%; width: 100%;background-color: black; color:white; border: 3px solid white; padding: 10px;">
						<div style="background-color: white; display: flex; flex-direction: column; height: 30%;">
							This is some example area for the picture
						</div>
						<div style="background-color: red; display: flex; flex-direction: column; height: 70%;">
							This is some example text that i am writing in this example box
						</div>

					</div>
				</div>
			</div>
			<div class="MainContentFooterContainer">
				<div class="MainContentFooterContainerRow">
					<div class="MainContentFooterContent">
						<p class="MainContentFooterContent">Poof Media © 2023</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>