<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<th:block th:fragment="stdHead">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/animations.css">
<link rel="stylesheet" th:if="${theme.name} != LIGHT" th:href="@{/css/{theme}.css (theme = ${#strings.toLowerCase(theme)})}">
<script defer type="text/javascript" src="/javascript/jquery-3.7.0.slim.min.js"></script>
<script defer type="text/javascript" src="/javascript/main.js"></script>
</th:block>
<img alt="The big boy logo" src="images/Artboard 1TESTWITHCROWN_NOWHITEBORDER_NOWHITEBORDER.svg" width="75%">
<title>FallGods</title>
</head>
<body class="vcontainer">
<form th:fragment="themeSelector" class="topright" id="themeForm" action="/setTheme" method="post" hidden>
	<select id="theme" th:field="${theme.name}">
		<option th:each="t : ${themes}" th:text="${t}" th:value="${t}"></option>
	</select>
	<input type="hidden" name="sourcePath" th:value="${#ctx['org.springframework.web.util.ServletRequestPathUtils.PATH']}">
</form>
<header class="center">
</header>
<main class="hcontainer">
	<h2><a href="/view">View</a></h2>
	<h2><a href="/register">Register</a></h2>
	<h2><a href="/track">Track</a></h2>
</main>
<footer class="hcontainer">
	<div>
		<p>placeholder1</p>
		<p>placeholder2</p>
	</div>
</footer>
<script defer type="text/javascript" src="/javascript/animations.js"></script>
</body>
</html>