<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="/css/animations.css">
	<link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
	<th:block th:replace="~{index :: stdHead}" />
	<title>Set Group - FallGods</title>
</head>

<body class="flex flex-col bg-moving relative bg-repeat bg-center bg-contain overflow-hidden"
	style="background-image: url('/images/trialanderror.svg'); background-size: 5vh;">
	<th:block th:replace="~{index :: themeSelector}" />
	<header class="z-10 flex relative items-center justify-center">
	</header>

	<div id="cloud-container"></div>
	<div id="fallguys-container "></div>

	<div class="flex justify-center items-center z-10 mt-auto">
		<main class="flex flex-col justify-center items-center text-center ">
			<h2
				class="pointer-events-none text-[60px] mb-5 font-TitanOneFont NavTextShadow text-CustomFallGuysPinkText text-stroke font-bold z-10">
				Who do
				you (mainly) want to track for?</h2>
			<form class="flex flex-col justify-center items-center text-center rg10" action="/track/setGroup"
				method="post" th:object="${group}">
				<div class="hcontainer">
				<select style="width: 225px; height: 75px;"
					class="mx-[30px] flex text-[30px] text-black bg-white justify-evenly font-TitanOneFont border-4 border-black items-center text-center py-[10px]"
					th:each="p, iStat : *{players}" th:field="*{players[__${iStat.index}__]}">
					<option class="text-black" value="">N/A</option>
					<option class="text-black" th:each="player : ${players}" th:text="${player.name}"
						th:value="${player}">
				</select>
				</div>
				<p><input
						class=" mt-[25px] font-TitanOneFont text-[55px] hover:bg-CustomFallGuysPinkBackground  border-4 bg-[#9bdbf3] border-black text-stroke2 text-white items-center rounded-full px-[55px] py-[10px] text-center"
						type="submit" value="Set Group"></p>
			</form>
		</main>
	</div>
	<footer class="flex w-full flex-wrap justify-evenly mt-auto relative ">
		<div class=" flex justify-evenly items-center my-5 ">
			<a href="/"
				class="hover:text-CustomFallGuysPinkText mx-5 font-TitanOneFont NavTextShadow text-[40px] text-white text-stroke font-bold z-10">
				Home</a>
			<a href="/register"
				class="hover:text-CustomFallGuysPinkText mx-5 font-TitanOneFont NavTextShadow text-[40px] text-white text-stroke font-bold z-10">
				Register</a>
			<a href="/view"
				class="hover:text-CustomFallGuysPinkText mx-5 font-TitanOneFont NavTextShadow text-[40px] text-white text-stroke font-bold z-10">
				View</a>
		</div>
	</footer>
</body>

</html>