<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="/css/animations.css">
<th:block th:replace="~{index :: stdHead}"/>
<title>Set Group - FallGods</title>
</head>
<body class="vcontainer">
<th:block th:replace="~{index :: themeSelector}"/>
<header class="center">
	<h1>Set Tracking Group</h1>
</header>
<main>
	<h2>Who do you (mainly) want to track for?</h2>
	<form class="vcontainer rg10" action="/track/setGroup" method="post" th:object="${group}">
		<select th:each="p, iStat : *{players}" th:field="*{players[__${iStat.index}__]}">
			<option value="">N/A</option>
			<option th:each="player : ${players}" th:text="${player.name}" th:value="${player}">
		</select>
		<p><input type="submit" value="Set Group"></p>
	</form>
</main>
<footer class="hcontainer">
	<div>
		<a href="/">Home</a>
		<a href="/view">View</a>
		<a href="/register">Register</a>
		<a href="/track">Track</a>
	</div>
</footer>
<script defer type="text/javascript" src="/javascript/animations.js"></script>
</body>
</html>