<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head>
	<meta charset="ISO-8859-1">
	<th:block th:replace="~{index :: stdHead}" />
	<script defer type="text/javascript" src="/javascript/track.js"></script>
	<script defer type="text/javascript" src="/javascript/DatabaseTrackRefresh.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/animations.css">
	<title>Track - FallGods</title>
</head>

<body class="flex bg-moving flex-col relative bg-repeat bg-center bg-contain overflow-hidden"
	style="background-image: url('/images/trialanderror.svg'); background-size: 5vh;">
	<div id="cloud-container "></div>
	<div id="fallguys-container"></div>
	<th:block th:replace="~{index :: themeSelector}" />
	<div id="cloud-container"></div>
	<div id="fallguys-container"></div>

	<div class="tooltip-box z-10"></div>
	<header class="center z-10 pointer-events-none">
		<h1 class="fall-font-title text-6xl mb-4">Track Session Data</h1>
	</header>
	<main class="hcontainer">
		<h2 class="fall-font-subtitle text-4xl mb-4 z-10"
			th:text="${gameSession} ? 'Group\'s current session stats' : 'No active session for group'"></h2>
		<div class="vcontainer">
			<th:block th:if="${gameSession}" th:object="${gameSession}">
				<h3 class="fall-font-general text-2xl mb-2 z-10">Summary stats</h3>
				<table border="1" class="z-10">
					<thead>
						<tr class="fall-font-subtitle ">
							<th class="fall-font-subtitle">Start Date
							<th class="fall-font-subtitle">Duration
							<th class="fall-font-subtitle">Losses
							<th class="fall-font-subtitle">Wins
							<th class="fall-font-subtitle">Current Streak
							<th class="fall-font-subtitle">Highest Streak
					<tbody class="center z-10">
						</thead>
						</tr>
						<tr class="fall-font-general">
							<td class="fall-font-general"
								th:text="*{#temporals.format(matches[0].startDateTime.toLocalDate)}">
							<td class="fall-font-general" th:text="*{#strings.substring(duration.withNanos(0), 2)}">
							<td class="fall-font-general" th:text="*{wins}">
							<td class="fall-font-general" th:text="*{losses}">
						</tr>
						<td class="fall-font-general" th:text="*{currentStreak}">
						<td class="fall-font-general" th:text="*{highestStreak}">
					</tbody>
				</table>
				<br>
				<h3 class="fall-font-general text-2xl mb-2 z-10">Matches</h3>
				<table border="1" class="z-10">
					<thead>
						<tr class="fall-font-subtitle">
							<th class="fall-font-subtitle">&nbsp;#&nbsp;
							<th class="fall-font-subtitle">Start Time
							<th class="fall-font-subtitle">Duration
							<th class="fall-font-subtitle">Last Round (LR)
							<th class="fall-font-subtitle">Rounds
							<th class="fall-font-subtitle">LR Losers
							<th class="fall-font-subtitle">Subs
							<th class="fall-font-subtitle">LR MVP
						</tr>
					</thead>
					<tbody class="center">
						<tr class="fall-font-general" th:each="match, iStat : *{matches}" th:object="${match}">
							<td class="fall-font-general" th:text="${iStat.count}"
								th:style="*{finished} ? ('background-color: ' + (*{won} ? 'green;' : 'red;') + 'color: black;')">
							<td class="fall-font-general" th:text="*{#temporals.format(startDateTime.toLocalTime)}">
							<td class="fall-font-general" th:text="*{#strings.substring(duration.withNanos(0), 2)}">
							<td class="fall-font-general" th:text="*{rounds.size}">
							<td class="fall-font-general"
								th:text="*{rounds.size} > 0 ? *{lastRound.gameMode.friendlyName}">
							<td class="fall-font-general" th:text="*{rounds.size} > 0 ? *{lastRound.losers}">
							<td class="fall-font-general"
								th:text="*{rounds.size} > 0 and *{lastRound.mvp} != null ? *{lastRound.mvp.name}">
							<td class="fall-font-general" th:text="*{subs}">
						</tr>
					</tbody>
				</table>
			</th:block>
		</div>
		<div class="vcontainer z-10">
			<h2 class="fall-font-subtitle text-3xl mb-4"
				th:text="${newMatch} ? (${gameSession} ? 'Start new match' : 'Start session with match') : 'Add finished round'">
			</h2>
			<th:block th:if="${newMatch}">
				<form class="vcontainer" action="/track/addMatch" method="post" th:object="${newMatch}">
					<table class="center mb-4">
						<tr id="osdtRow" hidden>
							<td><label class="fall-font-general tooltip" for="osdt"
									data-tooltip="Enter a new Start time for the round.">Override StartDateTime:</label>
							</td>
							<td><input class="fall-font-general" id="osdt" type="checkbox" name="osdt"></td>
							<div class="tooltip-box"></div>
						</tr>
						<tr id="sdtRow" hidden>
							<td><label class="fall-font-general " for="sdt">StartDateTime:</label></td>
							<td><input class="fall-font-general" id="sdt" type="datetime-local"
									th:field="*{startDateTime}" required disabled></td>
							<div class="tooltip-box"></div>
						</tr>
						<tr th:each="p, iStat : *{group.players}">
							<td><label class="fall-font-general" th:for="'player' + ${iStat.count}"
									th:text="|Player ${iStat.count}:|"></label></td>
							<td>
								<select class="fall-font-general" th:id="'player' + ${iStat.count}"
									th:field="*{group.players[__${iStat.index}__]}">
									<div class="tooltip-box"></div>
									<option class="fall-font-general" value="">N/A</option>
									<option class="fall-font-general" th:each="player : ${players}"
										th:text="${player.name}" th:value="${player}">
								</select>
							</td>
						</tr>
					</table>
					<input type="hidden" th:field="*{session.id}">
					<input type="hidden" th:each="match, iStat : *{session.matches}"
						th:field="*{session.matches[__${iStat.index}__]}">
					<input type="hidden" class="clientID" name="clientID">
					<p><input class="fall-btn-mini" type="submit" value="Start Match"></p>
				</form>
				<h2 class="fall-font-subtitle mb-2">Or</h2>
				<th:block th:replace="~{ :: undo}" />
				<th:block th:if="${gameSession}">
					<h2 class="fall-font-subtitle mb-2">Or</h2>
					<form action="/track/endSession" method="post" th:object="${gameSession}">
						<input type="hidden" th:field="*{id}">
						<input type="hidden" th:each="match, iStat : *{matches}"
							th:field="*{matches[__${iStat.index}__]}">
						<input type="hidden" class="clientID" name="clientID">
						<input class="fall-btn-mini" type="submit" value="End Session">
					</form>

					<form th:fragment="undo" action="/track/undo" method="post">
						<input type="hidden" name="gsHash" th:value="${gsHash}">
						<input type="hidden" class="clientID" name="clientID">
					</form>
				</th:block>
			</th:block>
			<th:block th:if="${newRound}">
				<form class="vcontainer" action="/track/addRound" method="post" th:object="${newRound}">
					<table class="center">
						<tr id="oedtRow" hidden>
							<td><label class="fall-font-general tooltip" for="oedt"
									data-tooltip="Enter a new End time for the round.">Override EndDateTime:</label>
							</td>
							<td><input class="fall-font-general" id="oedt" type="checkbox" name="oedt"></td>
						</tr>
						<tr id="edtRow" hidden>
							<td><label class="fall-font-general" for="edt">EndDateTime:</label></td>
							<td><input class="fall-font-general" id="edt" type="datetime-local"
									th:field="*{endDateTime}" required disabled></td>
						</tr>
						<tr id="gmRow" hidden>
							<td><label class="fall-font-general" for="gmBox">Game mode:</label></td>
							<td>
								<input class="fall-font-general" list="gameModes" id="gmBox" required></input>
								<datalist id="gameModes">
									<option th:each="minigame : ${minigames}" th:text="${minigame.friendlyName}"
										th:data-value="${minigame.id}">
								</datalist>
								<input type="hidden" id="gmId" th:field="*{gameMode.id}">
							</td>
						</tr>
						<tr>
							<td><label class="fall-font-subtitle" for="teamQualified1">Team qualified:</label></td>
							<td><input type="checkbox" th:field="*{teamQualified}"></td>
						</tr>
						<tr class="pfrow" th:each="pf, iStat : *{playersFinished}" hidden>
							<td><label class="fall-font-general" th:for="|pf${iStat.index}cb|"
									th:text="|${pf.key.name} finished:|"></label></td>
							<td><input type="checkbox" th:id="|pf${iStat.index}cb|"></td>
							<td><label class="fall-font-general" th:for="|pf${iStat.index}null|">Unknown:</label></td>
							<td><input type="checkbox" th:id="|pf${iStat.index}null|" th:checked="${pf.value} == null">
							</td>
							<td hidden><input type="hidden" th:id="|pf${iStat.index}|"
									th:field="*{playersFinished[__${pf.key}__]}"></td>
						</tr>
						<tr>
							<td><label class="fall-font-general" for="mvpdd">Round MVP:</label></td>
							<td>
								<select class="fall-font-general" id="mvpdd" th:field="*{mvp}">
									<option class="fall-font-general" value="">N/A</option>
									<option class="fall-font-general" th:each="player : *{match.players}"
										th:text="${player.name}" th:value="${player}"></option>
								</select>
							</td>
						</tr>
						<tr>
							<td><label for="earlyFinalRound1" class="fall-font-general">Early final
									round:</class="fall-btn"label></td>
							<td><input class="fall-font-general" type="checkbox" th:field="*{earlyFinalRound}"></td>
						</tr>
						<tr>
							<td><label class="fall-font-general" for="notes">Notes:</label></td>
							<td><textarea class="fall-font-general" th:field="*{notes}"></textarea></td>
						</tr>
					</table>
					<input type="hidden" th:field="*{match.id}">
					<input type="hidden" th:each="round, iStat : *{match.rounds}"
						th:field="*{match.rounds[__${iStat.index}__]}">
					<input type="hidden" class="clientID" name="clientID">
					<p><input class="fall-btn-mini" type="submit" value="Add Round"></p>
				</form>
				<h2 class="fall-font-subtitle">Or</h2>
				<form th:fragment="undo" action="/track/undo" method="post">
					<input type="hidden" name="gsHash" th:value="${gsHash}">
					<input type="hidden" class="clientID" name="clientID">
					<input class="fall-btn-mini" type="submit" value="Undo">
				</form>
			</th:block>
		</div>
	</main>
	<footer class="flex w-full flex-wrap justify-evenly mt-auto relative ">
		<div class="flex justify-evenly items-center my-5 ">
			<a href="/"
				class="hover:text-CustomFallGuysPinkText mx-5 font-TitanOneFont NavTextShadow text-[40px] text-white text-stroke font-bold z-10">
				Home</a>
				<a href="/register"
				class="hover:text-CustomFallGuysPinkText mx-5 font-TitanOneFont NavTextShadow text-[40px] text-white text-stroke font-bold z-10">
				Register</a>
				<a href="/view"
				class="hover:text-CustomFallGuysPinkText mx-5 font-TitanOneFont NavTextShadow text-[40px] text-white text-stroke font-bold z-10">
				View</a>
			<a href="/track/setGroup"
				class="hover:text-CustomFallGuysPinkText mx-5 font-TitanOneFont NavTextShadow text-[40px] text-white text-stroke font-bold z-10">
				Change Tracking Group</a>
		</div>
	</footer>
</body>

</html>