<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head>
	<meta charset="ISO-8859-1">
	<th:block th:replace="~{index :: stdHead}" />
	<script defer type="text/javascript" src="/javascript/track.js"></script>
	<title>Track - FallGods</title>
</head>

<body>

	<div class="ContainerForAll IsHidden">
		<th:block th:replace="~{index :: SideBarFragment}" />
		<div class="MainContentContainer">
			<div class="InnerMainContentContainer">
				<div class="content">
					<header class="center">
						<h1>Track Session Data</h1>
					</header>
					<main class="hcontainer">
						<div class="vcontainer">
							<h2
								th:text="${gameSession} ? 'Group\'s current session stats' : 'No active session for group'">
							</h2>
							<th:block th:if="${gameSession}" th:object="${gameSession}">
								<h3>Summary stats</h3>
								<table border="1">
									<thead>
										<tr>
											<th>Start Date</th>
											<th>Duration</th>
											<th>Wins</th>
											<th>Losses</th>
											<th>Win Rate</th>
											<th>Current Streak</th>
											<th>Highest Streak</th>
										</tr>
									</thead>
									<tbody class="center">
										<tr>
											<td th:text="*{#temporals.format(matches[0].startDateTime.toLocalDate)}" />
											<td th:text="*{#strings.substring(duration.withNanos(0), 2)}" />
											<td th:text="*{wins}" />
											<td th:text="*{losses}" />
											<td th:text="*{winRate}" />
											<td th:text="*{currentStreak}" />
											<td th:text="*{highestStreak}" />
										</tr>
									</tbody>
								</table>
								<h3>Matches</h3>
								<div class="vocontainer" style="max-height: 50vh;">
									<table border="1">
										<thead>
											<tr>
												<th>&nbsp;#&nbsp;
												<th>Start Time
												<th>Duration
												<th>Rounds
												<th>Last Round (LR)
												<th>LR Losers
												<th>LR MVP
												<th>Subs
											</tr>
										</thead>
										<tbody class="center">
											<tr th:each="match, iStat : *{matches}" th:object="${match}">
												<td th:text="${iStat.count}"
													th:style="*{finished} ? ('background-color: ' + (*{won} ? 'green;' : 'red;') + 'color: black;')">
												<td th:text="*{#temporals.format(startDateTime.toLocalTime)}">
												<td th:text="*{#strings.substring(duration.withNanos(0), 2)}">
												<td th:text="*{rounds.size}">
												<td th:text="*{rounds.size} > 0 ? *{lastRound.gameMode.friendlyName}">
												<td th:text="*{rounds.size} > 0 ? *{lastRound.losers}">
												<td
													th:text="*{rounds.size} > 0 and *{lastRound.mvp} != null ? *{lastRound.mvp.name}">
												<td th:text="*{subs}">
											</tr>
										</tbody>
									</table>
								</div>
							</th:block>
						</div>
						<div class="vcontainer">
							<h2
								th:text="${newMatch} ? (${gameSession} ? 'Start new match' : 'Start session with match') : 'Add finished round'">
							</h2>
							<th:block th:if="${newMatch}">
								<form class="vcontainer" action="/track/addMatch" method="post" th:object="${newMatch}">
									<table class="center">
										<tr id="osdtRow" hidden>
											<td><label for="osdt">Override StartDateTime:</label></td>
											<td><input id="osdt" type="checkbox" name="osdt"></td>
										</tr>
										<tr id="sdtRow" hidden>
											<td><label for="sdt">StartDateTime:</label></td>
											<td><input id="sdt" type="datetime-local" th:field="*{startDateTime}"
													required disabled>
											</td>
										</tr>
										<tr th:each="p, iStat : *{group.players}">
											<td><label th:for="'player' + ${iStat.count}"
													th:text="|Player ${iStat.count}:|"></label></td>
											<td>
												<select th:id="'player' + ${iStat.count}"
													th:field="*{group.players[__${iStat.index}__]}">
													<option value="">N/A</option>
													<option th:each="player : ${players}" th:text="${player.name}"
														th:value="${player}">
												</select>
											</td>
										</tr>
									</table>
									<input type="hidden" th:field="*{session.id}">
									<input type="hidden" th:each="match, iStat : *{session.matches}"
										th:field="*{session.matches[__${iStat.index}__]}">
									<p><input type="submit" value="Start Match"></p>
								</form>
								<h2>Or</h2>
								<th:block th:replace="~{ :: undo}" />
								<th:block th:if="${gameSession}">
									<h2>Or</h2>
									<form action="/track/endSession" method="post" th:object="${gameSession}">
										<input type="hidden" th:field="*{id}">
										<input type="hidden" th:each="match, iStat : *{matches}"
											th:field="*{matches[__${iStat.index}__]}">
										<input type="submit" value="End Session">
									</form>
								</th:block>
							</th:block>
							<th:block th:if="${newRound}">
								<form class="vcontainer" action="/track/addRound" method="post" th:object="${newRound}">
									<table class="center">
										<tr id="oedtRow" hidden>
											<td><label for="oedt">Override EndDateTime:</label></td>
											<td><input id="oedt" type="checkbox" name="oedt"></td>
										</tr>
										<tr id="edtRow" hidden>
											<td><label for="edt">EndDateTime:</label></td>
											<td><input id="edt" type="datetime-local" th:field="*{endDateTime}" required
													disabled>
											</td>
										</tr>
										<tr id="gmRow" hidden>
											<td><label for="gmBox">Game mode:</label></td>
											<td>
												<input list="gameModes" autocomplete="off" id="gmBox" required></input>
												<datalist id="gameModes">
													<option th:each="minigame : ${minigames}"
														th:text="${minigame.friendlyName}"
														th:data-value="${minigame.id}">
												</datalist>
												<input type="hidden" id="gmId" th:field="*{gameMode.id}">
											</td>
										</tr>
										<tr>
											<td><label for="teamQualified1">Team qualified:</label></td>
											<td><input type="checkbox" th:field="*{teamQualified}"></td>
										</tr>
										<tr class="pfrow" th:each="pf, iStat : *{playersFinished}" hidden>
											<td><label th:for="|pf${iStat.index}cb|"
													th:text="|${pf.key.name} finished:|"></label>
											</td>
											<td><input type="checkbox" th:id="|pf${iStat.index}cb|"></td>
											<td><label th:for="|pf${iStat.index}null|">Unknown:</label></td>
											<td><input type="checkbox" th:id="|pf${iStat.index}null|"
													th:checked="${pf.value} == null"></td>
											<td hidden><input type="hidden" th:id="|pf${iStat.index}|"
													th:field="*{playersFinished[__${pf.key}__]}"></td>
										</tr>
										<tr>
											<td><label for="mvpdd">Round MVP:</label></td>
											<td>
												<select id="mvpdd" th:field="*{mvp}">
													<option value="">N/A</option>
													<option th:each="player : *{match.players}" th:text="${player.name}"
														th:value="${player}"></option>
												</select>
											</td>
										</tr>
										<tr>
											<td><label for="earlyFinalRound1">Early final round:</label></td>
											<td><input type="checkbox" th:field="*{earlyFinalRound}"></td>
										</tr>
										<tr>
											<td><label for="notes">Notes:</label></td>
											<td><textarea th:field="*{notes}"></textarea></td>
										</tr>
									</table>
									<input type="hidden" th:field="*{match.id}">
									<input type="hidden" th:each="round, iStat : *{match.rounds}"
										th:field="*{match.rounds[__${iStat.index}__]}">
									<p><input type="submit" value="Add Round"></p>
								</form>
								<h2>Or</h2>
								<form th:fragment="undo" action="/track/undo" method="post">
									<input type="hidden" name="gsHash" th:value="${gsHash}">
									<input type="submit" value="Undo">
								</form>
							</th:block>
						</div>
					</main>
				</div>
				<div class="MainContentFooterContainer">
					<div class="MainContentFooterContent">
						<p>Poof Media © 2023</p>
						<p>Terms and Conditions</p>
						<p>Conditions Of Use</p>
						<p>Privacy Policy</p>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>