<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<th:block th:replace="~{index :: stdHead}"/>
<title>View Players - FallGods</title>
</head>
<body class="flex flex-col relative bg-repeat bg-center bg-contain overflow-hidden"
	style="background-image: url('images/trialanderror.svg'); background-size: 5vh;">

<th:block th:replace="~{index :: themeSelector}"/>
<header class="center">
	<h1>View Players</h1>
</header>


	<div id="cloud-container"></div>
	<div id="fallguys-container"></div>


<main>
	<h2 th:text="*{name}"/>
	<table border="1">
		<thead>
			<th>Name
			<th>Avg stat 1?
			<th>Avg stat 2?
			<th>Avg stat 3?
		</thead>
		<tbody>
			<tr th:each="player : *{players}" th:object="${player}">
				<td th:text="*{name}"/>
				<td/>
				<td/>
				<td/>
				<td><a th:href="@{/view/player/{id} (id = *{id})}">Details</a></td>
			</tr>
		</tbody>
	</table>
</main>

	<footer class="flex w-full flex-wrap justify-evenly mt-auto relative ">
		<div class=" flex justify-evenly items-center my-5 ">
			<a href="/"
				class="hover:text-CustomFallGuysPinkText mx-5 font-TitanOneFont NavTextShadow text-[30px] text-white text-stroke font-bold z-10">
				Home</a>
			<a href="/register"
				class="hover:text-CustomFallGuysPinkText mx-5 font-TitanOneFont NavTextShadow text-[30px] text-white text-stroke font-bold z-10">
				Register</a>
			<a href="/view"
				class="hover:text-CustomFallGuysPinkText mx-5 font-TitanOneFont NavTextShadow text-[30px] text-white text-stroke font-bold z-10">
				View</a>
		</div>
	</footer>
</body>
</html>