<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8">
	<th:block th:replace="~{index :: stdHead}" />
	<script defer type="text/javascript" src="/javascript/viewSessions.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
	<title>View Sessions - FallGods</title>
</head>

<body class="flex bg-moving flex-col relative bg-repeat bg-center bg-contain overflow-hidden"
	style="background-image: url('/images/trialanderror.svg'); background-size: 5vh;">
	
	<th:block th:replace="~{index :: themeSelector}" />
	<header class="z-10 flex relative items-center justify-center">
		<h1 class="fall-font-title text-6xl mb-4">View Sessions</h1>
		<br><br><br><br><br><br>
	</header>
		
	<div id="cloud-container"></div>
	<div id="fallguys-container"></div>
	
	<main class="vcontainer z-10" style="row-gap: 1.25em;">
		<div class="hcontainer close">
			<button class="fall-font-title mb-4" id="expandAll">Expand All</button>
			<button class="fall-font-title mb-4" id="collapseAll">Collapse All</button>
		</div>
		<div class="hocontainer vocontainer" style="max-width: 100vw; max-height: 75vh;">
			<table border="1">
				<thead>
					<tr>
						<th class="fall-font-session-gen"></th>
						<th class="fall-font-session-gen">Start Date</th>
						<th class="fall-font-session-gen">Main Players</th>
						<th class="fall-font-session-gen">Duration</th>
						<th class="fall-font-session-gen">Wins</th>
						<th class="fall-font-session-gen">Losses</th>
						<th class="fall-font-session-gen">Win Rate</th>
						<th class="fall-font-session-gen">Current Streak</th>
						<th class="fall-font-session-gen">Highest Streak</th>
						<th class="fall-font-session-gen">Finished</th>
						<th class="fall-font-session-gen">Notes</th>
					</tr>
				</thead>
				<tbody class="center" th:each="gameSession : ${gameSessions}" th:object="${gameSession}">
					<tr>
						<td class="td-folder-icon fall-font-session-gen" style="cursor: pointer;" th:fragment="tdFolderIcon">
							<svg viewBox="0 0 24 24" height="1.5em">
								<use href="/icons/arrow_right.svg#ar" />
							</svg>
							<svg viewBox="0 0 24 24" height="1.5em" style="display: none;">
								<use href="/icons/arrow_drop_down.svg#add" />
							</svg>
						</td>
						<td class="fall-font-subtitle-session" th:text="*{#temporals.format(matches[0].startDateTime.toLocalDate)}" />
						<td class="fall-font-subtitle-session" th:text="*{mainPlayerNames}" />
						<td class="fall-font-subtitle-session" th:text="*{#strings.substring(duration.withNanos(0), 2)}" />
						<td class="fall-font-subtitle-session" th:text="*{wins}" />
						<td class="fall-font-subtitle-session" th:text="*{losses}" />
						<td class="fall-font-subtitle-session" th:text="*{winRate}" />
						<td class="fall-font-subtitle-session" th:text="*{currentStreak}" />
						<td class="fall-font-subtitle-session" th:text="*{highestStreak}" />
						<td class="fall-font-subtitle-session" th:text="*{finished}" />
						<td class="fall-font-subtitle-session" th:text="*{notes}" />
					</tr>
					<tr class="fall-font-session-gen" style="display: none;">
						<td />
						<td colspan="10">
							<table border="1">
								<thead>
									<tr>
										<th class="fall-font-session-gen"></th>
										<th class="fall-font-session-gen">&nbsp;#&nbsp;</th>
										<th class="fall-font-session-gen">Start Time</th>
										<th class="fall-font-session-gen">Duration</th>
										<th class="fall-font-session-gen">Rounds</th>
										<th class="fall-font-session-gen">Last Round (LR)</th>
										<th class="fall-font-session-gen">LR Losers</th>
										<th class="fall-font-session-gen">LR MVP</th>
										<th class="fall-font-session-gen">Subs</th>
									</tr>
								</thead>
								<tbody class="center fall-font-session-gen" th:each="match, iStat : *{matches}" th:object="${match}">
									<tr>
										<td class="fall-font-session-gen" th:replace="~{ :: tdFolderIcon}" />
										<td class="fall-font-session-gen-index" th:text="${iStat.count}"
											th:style="*{finished} ? ('background-color:' + (*{won} ? 'green;' : 'red;') + 'color: white;')">
										<td class="fall-font-session-gen" th:text="*{#temporals.format(startDateTime.toLocalTime)}">
										<td class="fall-font-session-gen" th:text="*{#strings.substring(duration.withNanos(0), 2)}">
										<td class="fall-font-session-gen" th:text="*{rounds.size}">
										<td class="fall-font-session-gen" th:text="*{rounds.size} > 0 ? *{lastRound.gameMode.friendlyName}">
										<td class="fall-font-session-gen" th:text="*{rounds.size} > 0 ? *{lastRound.losers}">
										<td class="fall-font-session-gen" th:text="*{rounds.size} > 0 and *{lastRound.mvp} != null ? *{lastRound.mvp.name}">
										<td class="fall-font-session-gen" th:text="*{subs}">
									</tr>
									<tr style="display: none;">
										<td />
										<td colspan="8">
											<table border="1">
												<thead>
													<tr>
														<th class="fall-font-session-gen">&nbsp;#&nbsp;</th>
														<th class="fall-font-session-gen">End Time</th>
														<th class="fall-font-session-gen">Duration</th>
														<th class="fall-font-session-gen">Game Mode</th>
														<th class="fall-font-session-gen">Finishers</th>
														<th class="fall-font-session-gen">MVP</th>
														<th class="fall-font-session-gen">Notes</th>
													</tr>
												</thead>
												<tbody>
													<tr  class="fall-font-general" th:each="round, iStat : *{rounds}" th:object="${round}">
														<td  class="fall-font-general" th:text="*{num}"
															th:style="*{finalRound} ? ('background-color:' + (*{teamQualified} ? 'green;' : 'red;') + 'color: black;')" />
														<td class="fall-font-general" th:text="*{#temporals.format(endDateTime.toLocalTime)}" />
														<td class="fall-font-general" th:text="*{#strings.substring(duration.withNanos(0), 2)}" />
														<td class="fall-font-general" th:text="*{gameMode.friendlyName}" />
														<td class="fall-font-general" th:text="*{finishers}" />
														<td class="fall-font-general" th:text="*{mvp} != null ? *{mvp.name}" />
														<td class="fall-font-general" th:text="*{notes}" />
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>
	<footer class="flex w-full flex-wrap justify-evenly mt-auto relative ">
		<div class=" flex justify-evenly items-center my-5 ">
			<a href="/"
				class="fall-btn">
				Home</a>
			<a href="/register"
				class="fall-btn text-[40px] text-white font-bold z-10">
				Register</a>
			<a href="/track"
				class="hover:text-CustomFallGuysPinkText mx-5 font-TitanOneFont NavTextShadow text-[40px] text-white text-stroke font-bold z-10">
				Track</a>
			<a href="/view"
				class="hover:text-CustomFallGuysPinkText mx-5 font-TitanOneFont NavTextShadow text-[40px] text-white text-stroke font-bold z-10">
				View</a>
		</div>
	</footer>
</body>

</html>