<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8">
	<th:block th:replace="~{index :: stdHead}" />
	<title>View Players - FallGods</title>
</head>
<body>
	<th:block th:replace="~{index :: NoJavaScriptFrag}" />
	<div class="ContainerForAll IsHidden">
		<th:block th:replace="~{index :: SideBarFragment}" />
		<div class="MainContentContainer">
			<div class="InnerMainContentContainer">
				<div class="content">
					<header class="center">
						<h1>View Players</h1>
					</header>
					<main>
						<h2 th:text="*{name}" />
						<div class="hocontainer" style="max-width: 100vw;">
							<table border="1">
								<thead>
									<th>Name
									<th>Sessions
									<th>Matches
									<th>Rounds
									<th>
										<div>In Game Time</div>
									</th>
									<th>Wins
									<th>Win Rate
									<th>Qualifications
									<th>Qualification Rate
									<th>Finishes
									<th>Finish Rate
									<th>MVPs
								</thead>
								<tbody class="center">
									<tr th:each="player : *{players}" th:object="${player}">
										<td><a th:text="*{name}" th:href="@{/view/player/{id} (id = *{id})}" /></td>
										<td th:text="*{numMainPlayerSessions}" />
										<td th:text="*{numMatches}" />
										<td th:text="*{aggMapData.plays}" />
										<td th:text="*{#strings.substring(inGameTime.withNanos(0), 2)}" />
										<td th:text="*{wins}" />
										<td th:text="*{winRate}" />
										<td th:text="*{aggMapData.qualifications}" />
										<td th:text="*{aggMapData.qualificationRate}" />
										<td th:text="*{aggMapData.finishes}" />
										<td th:text="*{aggMapData.finishRate}" />
										<td th:text="*{aggMapData.mvps}" />
									</tr>
								</tbody>
							</table>
						</div>
					</main>
				</div>
			</div>
			<div class="MainContentFooterContainer">
				<div class="MainContentFooterContent">
					<p>Poof Media © 2023</p>
					<p>Terms and Conditions</p>
					<p>Conditions Of Use</p>
					<p>Privacy Policy</p>

				</div>
			</div>
		</div>
	</div>
</body>

</html>