<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/view.css">
<link rel="stylesheet" href="/css/animations.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script defer type="text/javascript" src="/javascript/view.js"></script>
<th:block th:replace="~{index :: stdHead}"/>
<title>View - FallGods</title>
</head>
<body class="vcontainer">
<th:block th:replace="~{index :: themeSelector}"/>
<header class="center">
	<h1>View Player Data</h1>
</header>
<nav class="navbar">
    <ul>
        <li><a href="#">Maps</a></li>
        <li><a href="#">Show Mode</a></li>
        <li><a href="#">Match</a></li>
        <li><a href="#">Round</a></li>
        <li><a href="#">Players</a></li>
        <li><a href="#">Filters</a></li>
        <li><a href="#">Sort By</a></li>
    </ul>
</nav>
<main>
	<div th:each="player : ${players}" th:object="${player}">
		<h2 th:text="*{name}"/>
		<table border="1">
			<thead>
				<th>Map
				<th>plays
				<th>occurrence
				<th>qualifications
				<th>qualificationRate
				<th>eliminations
				<th>eliminationRate
				<th>finishes
				<th>finishRate
				<th>fumbles
				<th>fumbleRate
				<th>mvps
				<th>mvpRate
			</thead>
			<tbody>
				<tr th:each="md : *{mapData}" th:object="${md.value}">
					<td th:text="${md.key.name} != null and ${md.key.type} != null ? ${md.key.friendlyName}"/>
					<td th:text="*{plays}"/>
					<td th:text="*{occurrence}"/>
					<td th:text="*{qualifications}"/>
					<td th:text="*{qualificationRate}"/>
					<td th:text="*{eliminations}"/>
					<td th:text="*{eliminationRate}"/>
					<td th:text="*{finishes}"/>
					<td th:text="*{finishRate}"/>
					<td th:text="*{fumbles}"/>
					<td th:text="*{fumbleRate}"/>
					<td th:text="*{mvps}"/>
					<td th:text="*{mvpRate}"/>
				</tr>
			</tbody>
		</table>
	</div>
</main>
<br>
<footer class="hcontainer">
	<div>
		<a href="/">Home</a>
		<a href="/register">Register</a>
		<a href="/track">Track</a>
		<a href="/track/setGroup">Change Tracking Group</a>
	</div>
</footer>
<br><br>
<script defer type="text/javascript" src="/javascript/animations.js"></script>
</body>
</html>