<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8">
	<th:block th:replace="~{index :: stdHead}" />
	<script defer type="text/javascript" src="/javascript/viewPlayerDetails.js"></script>
	<title>View Player Details - FallGods</title>
</head>

<body>
	<th:block th:replace="~{index :: NoJavaScriptFrag}" />
	<div class="ContainerForAll IsHidden">
		<th:block th:replace="~{index :: SideBarFragment}" />
		<div class="MainContentContainer">
			<div class="InnerMainContentContainerColumn">
					<div class="InnerMainContentContainerForTable">
					<header class="center">
						<h1>View Player Details</h1>
					</header>
					<div style="row-gap: 1.25em;" th:object="${player}">
						<form id="playerSelectorForm" class="hcontainer close" hidden>
							<label for="playerSelector">
								<h2>Player:</h2>
							</label>
							<select id="playerSelector">
								<option th:each="p : ${players}" th:text="${p.name}"
									th:value="@{/view/player/{id} (id = ${p.id})}" th:selected="${p == player}">
							</select>
						</form>
						<div class="hocontainer" style="max-width: 100vw;">
							<table border="1">
								<thead>
									<th>Sessions
									<th>Matches
									<th>Rounds
									<th>
										<div>In Game Time</div>
									</th>
									<th>Wins
									<th>Win Rate
									<th>Losses
									<th>Loss Rate
									<th>Qualifications
									<th>Qualification Rate
									<th>Eliminations
									<th>Elimination Rate
									<th>Finishes
									<th>Finish Rate
									<th>Fumbles
									<th>Fumble Rate
									<th>MVPs
									<th>MVP Rate
								</thead>
								<tbody class="center">
									<tr>
										<td th:text="*{numMainPlayerSessions}" />
										<td th:text="*{numMatches}" />
										<td th:text="*{aggMapData.plays}" />
										<td th:text="*{#strings.substring(inGameTime.withNanos(0), 2)}" />
										<td th:text="*{wins}" />
										<td th:text="*{winRate}" />
										<td th:text="*{losses}" />
										<td th:text="*{lossRate}" />
										<td th:text="*{aggMapData.qualifications}" />
										<td th:text="*{aggMapData.qualificationRate}" />
										<td th:text="*{aggMapData.eliminations}" />
										<td th:text="*{aggMapData.eliminationRate}" />
										<td th:text="*{aggMapData.finishes}" />
										<td th:text="*{aggMapData.finishRate}" />
										<td th:text="*{aggMapData.fumbles}" />
										<td th:text="*{aggMapData.fumbleRate}" />
										<td th:text="*{aggMapData.mvps}" />
										<td th:text="*{aggMapData.mvpRate}" />
									</tr>
								</tbody>
							</table>
						</div>
							<div class="InnerMainContentContainerForTable">
						<div class="hocontainer vocontainer" style="max-width: 100vw; max-height: 50vh;">
							<table border="1">
								<thead>
									<th>Map
									<th>Plays
									<th>Occurrence
									<th>Qualifications
									<th>Qualification Rate
									<th>Eliminations
									<th>Elimination Rate
									<th>Finishes
									<th>Finish Rate
									<th>Fumbles
									<th>Fumble Rate
									<th>MVPs
									<th>MVP Rate
								</thead>
								<tbody class="center">
									<tr th:each="md : *{mapData}" th:object="${md.value}">
										<td>
											<div th:text="${md.key.name} != null and ${md.key.type} != null ? ${md.key.friendlyName}"
												 />
										</td>
										<td th:text="*{plays}" />
										<td th:text="*{occurrence}" />
										<td th:text="*{qualifications}" />
										<td th:text="*{qualificationRate}" />
										<td th:text="*{eliminations}" />
										<td th:text="*{eliminationRate}" />
										<td th:text="*{finishes}" />
										<td th:text="*{finishRate}" />
										<td th:text="*{fumbles}" />
										<td th:text="*{fumbleRate}" />
										<td th:text="*{mvps}" />
										<td th:text="*{mvpRate}" />
									</tr>
								</tbody>
							</table>
						</div>
						</div>
					</div>
				</div>
			
			<div class="MainContentFooterContainer">
				<div class="MainContentFooterContent">
					<p>Poof Media © 2023</p>
				</div>
			</div>
		</div></div></div>
</body>

</html>